.card {
  height: 442px;
  width: 100%;
  padding: 2.25rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #fff;
  flex-shrink: 0;
  border: 4px;
  box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.05);

  &_line {
    margin-top: auto;
  }

  &_image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 268px;
    height: 268px;
    position: relative;

    .oos {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      width: 100%;
      z-index: 1;

      &_text {
        padding: 0.4rem 0.8rem;
        color: #fff;
        background-color: #000;
        text-transform: uppercase;
        font-weight: 700;
      }
    }

    img {
      object-fit: contain;
      object-position: center;
      width: 100%;
      height: 100%;

      &.opacity {
        opacity: 0.7;
      }
    }
  }

  &_brand {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #606060;
  }

  &_info {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;

    .content {
      display: flex;
      width: 100%;
      align-items: flex-start;
      gap: 0.5rem;

      &_type {
        color: var(--grey-50);
        font-weight: 500;
        font-size: 1.2rem;
        width: 100%;
      }

      &_title {
        font-weight: 700;
        font-size: 2rem;
      }
    }

    h2 {
      color: var(--black, #1b1b1b);
      font-size: 1.4rem;
      font-weight: 500;
      line-height: normal;
      text-overflow: ellipsis;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-transform: capitalize;
    }
  }

  &_content {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;
    position: relative;
  }

  .unit {
    display: flex;
    align-items: center;
    gap: 1rem;

    &_price {
      color: var(--black, #1b1b1b);
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 24px;
    }

    &_strike {
      color: #606060;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration: line-through;
    }
  }

  .discount {
    color: #da0000;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 16px;
    position: absolute;
    top: -40px;
    left: 10px;
  }

  .rating {
    display: flex;
    align-items: flex-start;
    gap: 1rem;

    &_star {
      display: flex;
      align-items: center;
    }

    &_value {
      color: #606060;
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
    }
  }

  &_button {
    margin-left: auto;
  }

  &_wishlist {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: -20px;
    background-color: #fff;
    height: 40px;
    width: 40px;
    fill: var(----color-default-white-opacity-80, rgba(255, 255, 255, 0.8));
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.1));
    backdrop-filter: blur(10px);
    border-radius: 50%;
    cursor: pointer;
    padding: 2rem;
    outline: none;
    border: none;

    img {
      width: 24px;
      height: 24px;
      display: block;
      object-fit: contain;
      object-position: center;
    }
  }

  .buttons {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: -40px;
    border: none;
    border-top: 1px solid #606060;
    height: 4rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 16px;
    outline: none;
  }
}
